.avatar {
    border-radius: 70%;
}

a {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Jaro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FBEACC;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
}