.slider-container {
    position: relative;
    width: 100vw;
    height: 600px;
    overflow: hidden;
    margin-left: calc(-50vw + 50%);
}

.slider-wrapper {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease;
}

.slide {
    width: 100vw;
    height: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #E3E2DE;
    border: none;
    font-size: 2rem;
    color: rgb(102, 123, 89);
    border-radius: 50%; /* круглый фон */
    width: 50px; /* фиксированная ширина */
    height: 50px; /* фиксированная высота */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    transition: all 0.3s ease;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.slider-arrow:hover {
    color: rgb(165, 178, 139);
}

.slider-arrow.prev {
    left: 20px;
}

.slider-arrow.next {
    right: 20px;
}