.main-content-row {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    padding: 0px !important;
}

 .slider-container {
    position: relative;
    width: 70vw;
    height: 750px;
    overflow: hidden;
    margin-left: calc(-50vw + 50%);
    
} 

.slider-wrapper {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease;
}

 .slide {
    width: 70vw;
    height: 100%;
    flex-shrink: 0;
} 

.slide img {
    width: 100%;
    height: 100%;
    object-fit:fill;
}

.slider-arrow {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    background:  #FBEACC;
    border: none;
    font-size: 2rem;
    color: #E3E2DE;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    transition: all 0.3s ease;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.slider-arrow:hover {
    color: rgb(165, 178, 139);
}

.slider-arrow.prev {
    left: 20px;
}

.slider-arrow.next {
    right: 20px;
}





/* Video styles*/

.video-container {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    height: 750px;
}


.video-wrapper {
    flex: 1;
    min-height: 0;
    overflow: hidden;
    background: #000;
}

.video-player {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* Адаптивность */
@media (max-width: 1024px) {
    .main-content-row {
        flex-direction: column;
    }
    
    .slider-container {
        width: 100%;
        height: 500px;
    }
    
    .video-container {
        width: 100%;
        height: 400px;
    }
}