.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F5ECDB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    z-index: 100;
    
}

/* 4K */
@media (min-width: 2560px) {
  .header {
    padding: 20px 100px;
  }
}

/* Планшеты */
@media (max-width: 1024px) {
  .header {
    padding: 10px 24px;
  }
}

/* Смартфоны */
@media (max-width: 768px) {
  .header {
    padding: 8px 16px;
  }
}