.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F5ECDB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    z-index: 100;
    
}