.headerlabel-container {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #ADA86D;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 10px 0;
    min-width: 280px;
    display: none;
    z-index: 1000;
    opacity: 100%;
}

.headerlabel-container:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    padding: 8px 20px;
    cursor: pointer;
}


.dropdown-item-link {
    text-decoration: none;
    color: #F6F5EC;
    font-size: 1.1rem;
    transition: color 0.2s ease;
}

  .dropdown-item-link:hover {
   color: #FBEACC;
 }


/* HeaderLabel and HeaderSubLabel styles start*/

.headerlabel-title {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    text-decoration: none;
}

  .headerlabel-title-link {
    text-decoration: none;
    color: #6B6630;
    font-size: 1.8rem;
    /* transition: color 0.7s ease; */
  }

  /* .headerlabel-title-link:hover {
   color: rgb(165, 178, 139);
 } */

.headerlabel-subtitle {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 10px 0 0 10px;
    text-align: end;
    color: #6B6630;
    font-size: 1.1rem;
}


 /* HeaderLabel and HeaderSubLabel styles end*/


@media (min-width: 2560px) {
  .headerlabel-title-link { font-size: 2.6rem; }
  .headerlabel-subtitle { font-size: 1.3rem; }
}

/* Планшеты */
@media (max-width: 1024px) {
  .headerlabel-title-link { font-size: 1.8rem; }
  .headerlabel-subtitle { font-size: 1rem; }
}

/* Смартфоны */
@media (max-width: 768px) {
  .headerlabel-title-link 
  { 
    font-size: 1.2rem; 
  }
  .headerlabel-subtitle 
  { 
        opacity: 0;
    height: 0;
    overflow: hidden;
    font-size: 0.5rem; 
  }
}