.headernav-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.headernav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.headernav-menu-item {
    margin-left: 20px;
}

.headernav-menu-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #6B6630;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
    text-align: center;
    padding: 8px 12px;
}

.headernav-menu-link:hover {
    color: #ADA86D;
}

.headernav-menu-image {
    width: 24px;
    height: 24px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.headernav-menu-link:hover .headernav-menu-image {
    transform: scale(1.1);
}

@media (min-width: 2560px) {
  .headernav-menu-link {
    font-size: 1.3rem;
    gap: 10px;
  }
  .headernav-menu-image {
    width: 28px;
    height: 28px;
  }
}

/* Планшеты */
@media (max-width: 1024px) {
  .headernav-menu-link {
    font-size: 1rem;
  }
}

/* Смартфоны */
@media (max-width: 768px) {
  .headernav-nav {
    justify-content: flex-end;
  }
  .headernav-menu-link {
    font-size: 0.75rem;
    padding: 0;
  }
  .headernav-menu-image {
    width: 22px;
    height: 22px;
  }
}