.headernav-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.headernav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}


.headernav-menu-button {
    background: #6B6630;
    border: none;
    padding: 0px 5px;
    font-family: "Dela Gothic One", sans-serif;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    letter-spacing: 0.5px;
}

.headernav-menu-button:hover:not(:disabled) {
     background: #ADA86D;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(60, 43, 23, 0.3);
}

.headernav-menu-button:active:not(:disabled) {
    transform: translateY(0);
}

.headernav-menu-button:disabled {
    background: #a89b8a;
    cursor: not-allowed;
    transform: none;
}

.headernav-menu-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #F6F5EC;
    font-size: 1rem;
    transition: color 0.3s ease;
    text-align: center;
    padding: 8px 12px;
}

.headernav-menu-link:hover {
    color: #FBEACC;
}

.headernav-menu-image {
    width: 24px;
    height: 24px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.headernav-menu-link:hover .headernav-menu-image {
    transform: scale(1.1);
}

@media (min-width: 2560px) {
  .headernav-menu-link {
    font-size: 1.3rem;
    gap: 10px;
  }
  .headernav-menu-image {
    width: 28px;
    height: 28px;
  }
}

/* Планшеты */
@media (max-width: 1024px) {
  .headernav-menu-link {
    font-size: 1rem;
  }
}

/* Смартфоны */
@media (max-width: 768px) {
  .headernav-nav {
    justify-content: flex-end;
  }
  .headernav-menu-link {
    overflow: hidden;
    font-size: 0.75rem;
    padding: 0;
  }
  .headernav-menu-image {
    width: 22px;
    height: 22px;
  }
}