.main-block-map {
    min-width: 0;
    background: #D3BDA4;
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.map-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}


.map-block__header {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: #3C2B17;
}

@media (max-width: 30rem) {
  .map-block__header {
  font-size: 1.3rem;
}
}

@media (min-width: 48rem) {
  .map-block__header {
  font-size: 1.3rem;
}
}