.aboutUs-block {
    margin-top: 20px;
}

.employee-block {
    width: 100%;
    min-width: 0;
    background: #D3BDA4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.employee-block__header {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    color: #3C2B17;
    margin-bottom: 20px;
    margin-top: 0px;
}


.employees-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.employee-card {
    background: #F5ECDB;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 0 1 calc(25% - 30px); /* 4 карточки в ряд */
    min-width: 200px; /* Уменьшил минимальную ширину */
    max-width: 220px;
}

.employee-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.employee-image {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #A46A1F;
}

.employee-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.employee-name {
          font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: #5D3117;
    margin-bottom: 8px;
}

.employee-position {
              font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    color: #918458;
    margin-bottom: 15px;
    font-weight: 500;
}

.employee-description {
    font-size: 0.9rem;
    color: #777;
    line-height: 1.5;
}


/* Для планшетов */
@media (max-width: 1024px) {
    .employee-card {
        flex: 0 1 calc(33.333% - 30px); /* 3 карточки в ряд */
    }
}

/* Для мобильных */
@media (max-width: 768px) {
    .employee-card {
        flex: 0 1 calc(50% - 30px); /* 2 карточки в ряд */
    }
    
    .employee-block__header {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .employee-card {
        flex: 0 1 100%; /* 1 карточка в ряд */
    }
}