

.supportlink-block {
    margin: 80px auto 50px auto;
    padding: 0 20px;
    max-width: 1200px;
    min-height: calc(100vh - 160px); 
}

/* Адаптивность для мобильных */
@media (max-width: 768px) {
    .supportlink-block {
        margin: 65px auto;
        padding: 0 15px;
    }
}

@media (max-width: 480px) {
    .supportlink-block {
        margin: 65px auto;
        padding: 0 10px;
    }
}